<body>
	<h1 class="text-center">Añadir Dividendos</h1>
	<form class="form-search">
		<div class="form-group">
			<input class="input-medium search-query" type="text" ng-model="buscar"> <span class="glyphicon glyphicon-search"></span>		
		</div>
	</form>
	
	<div ng-repeat="empresa in empresas | filter:buscar track by $index">
		<table class="table table-condensed"  >
			<tr>
				<th>Nombre</th>
				<th>Simbolo</th>
				<th>Divisa:</th>
			</tr>
			<tr>			
				<td>{{empresa.nombre}}</td>			
				<td>{{empresa.simbolo}}</td>
				<td>{{empresa.divisa}} <button class="btn btn-info pull-right" ng-click="show(empresa)"><span class="glyphicon glyphicon-plus"></span></button></td>
				
			</tr>	
		</table>
		<form class="form-horizontal form-inline" role="form">
			<div ng-show="empresa.showme" class="jumbotron" >
				<table class="table table-condensed">
					<tr>
						<th>Dividendo por acción</th>
						<th>Precio de cotización Actual</th>
						<th>Fecha del dividendo</th>			
						<th ng-hide='empresa.divisa=="EUR" || empresa.divisa=="eur"'>Precio del la divisa en el dividendo </th>
					</tr>
					<tr>
						<div class="input-group">
							<td><input class="form-control" type="double" ng-model="empresa.dividendoAccion" placeholder="Dividendo por Acción"></td>
							<td><input class="form-control" type="double" ng-model="empresa.precioCotizacion" placeholder="Precio de cotización Actual"></td>
							<td><input class="form-control" type="date" ng-model="empresa.fechaDividendo" placeholder="Fecha del dividendo"></td>
							<td ng-hide='empresa.divisa=="EUR" || empresa.divisa=="eur"'>
								<input class="form-control" type="double" ng-model="empresa.precioDivisaDividendo"placeholder="Precio de la divisa en el momento del dividendo">
							</td>
						</div>
					</tr>
				</table>
					<button class="btn btn-success pull-right" ng-click="addDiv(empresa)">Añadir</button>
			</div>
		</form>

	</div>

</body>